body
{
    background-color: white;
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

ul
{
    list-style: square;
}

div#wrapper
{
    width: 100%;
}

img#logo
{
    float: left;
}

h1#title
{
    float: left;
    padding-left: 8px;
}

hr#title-separator
{
    clear: left;
}

div#links-box
{
    position: absolute;
    top: 12px;
    right: 12px;
}

div#tabs
{
}

div#tabs-1
{
    width: 100%;
}

div#tabs-3
{
    padding: 0px;
}

.column
{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

iframe#docs-frame
{
    border-style: none;
    width: 100%;
}
